$border-color:#d8d8d8;

.control{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position:absolute;
    min-height:100%;
    width:4.5rem;
    .colorButtons{
        width:4rem;
        display:flex;
        justify-content: space-evenly;
        &:hover div img{
            visibility:visible;
        }
        div{
            width:15px;
            height:15px;
            border-radius: 50%;
            display:flex;
            justify-content: center;
            align-items: center;
           cursor:default;
            img{
                width:0.3rem;
                height:auto;
                opacity: 0.7;
                visibility:hidden;
            }
        }
        .redButton{
            background-color:#f05050;
        }
        .yellowButton{
            background-color:#efe043;
            img{
                width:0.4rem;
            }
        }
        .greenButton{
            background-color:#4fe454;
        }
    }
    .backForward{
        display:flex;
        div{
            border:0.5px solid $border-color;
            padding:4px 8px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:white;
            img{
                width:8px;
                height:auto;
            } 
        }
    }
}