* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("../images/DeepForest_1.png") no-repeat center center fixed;
  background-size: cover;
}

nav {
  min-height: 3vh;
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.9rem;
  opacity: 0.95;
}

nav img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 18px;
  height: auto;
}

nav .leftNav {
  cursor: default;
  width: 23rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .rightNav {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .rightNav .search {
  width: 15px;
  height: auto;
}

nav .rightNav .battery {
  width: 3.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .rightNav .battery img {
  height: 12px;
  width: auto;
}

@media only screen and (max-width: 650px) {
  nav .mediumGone {
    display: none;
  }
  nav .leftNav {
    width: 10rem;
  }
}

@media only screen and (max-width: 450px) {
  nav .smallGone {
    display: none;
  }
  nav .rightNav {
    width: 12rem;
  }
  nav .rightNav .battery {
    display: none;
  }
}

.home {
  position: relative;
}

.home .finderOpen {
  position: absolute;
  width: 45rem;
  margin: auto;
  height: 25rem;
  border-radius: 5px;
  left: 50%;
  margin-left: -22.5rem;
  top: 50%;
  margin-top: 8rem;
}

.home .finderOpen .topFinder {
  text-align: center;
  position: relative;
  height: 13%;
  background-color: #E2E2E2;
  border-radius: 5px 5px 0 0;
  border: solid 0.2px #b0b0b0;
}

.home .finderOpen .topFinder .icon {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .finderOpen .topFinder .icon img {
  width: 25px;
  height: auto;
  margin-right: 5px;
}

.home .finderOpen .topFinder .icon div {
  margin-left: 5px;
  font-size: 14px;
  color: #727272;
}

.home .finderOpen .bottomFinder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 87%;
}

.home .homeFolder {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  right: 2rem;
  top: 3rem;
}

.home .homeFolder img {
  width: 4rem;
  height: auto;
}

.home .homeFolder div {
  font-size: 0.8rem;
  margin-top: 10px;
}

.home .homeFolder {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  right: 2rem;
  top: 3rem;
}

.home .homeFolder img {
  width: 4rem;
  height: auto;
}

.home .homeFolder div {
  font-size: 0.8rem;
  margin-top: 10px;
}

.rightFinderhome {
  border-radius: 0 0 5px 0;
  width: 75%;
  border-bottom: solid 0.2px #d8d8d8;
  border-right: solid 0.5px #d8d8d8;
  background-color: white;
  font-size: 0.8rem;
}

.rightFinderhome img {
  width: 3.2rem;
  height: auto;
  margin-bottom: 10px;
  -webkit-filter: drop-shadow(3px 3px 3px #e8e8e8);
          filter: drop-shadow(3px 3px 3px #e8e8e8);
}

.rightFinderhome .rightTop {
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.rightFinderhome .rightTop .about {
  text-align: center;
}

.rightFinderhome .rightTop .documents {
  text-align: center;
}

.rightFinderhome .rightTop .documents img {
  width: 4.5rem;
  margin-bottom: 20px;
}

.rightFinderhome .rightTop .pictures {
  text-align: center;
}

.rightFinderhome .rightTop .soon {
  text-align: center;
}

.rightFinderdocs {
  border-radius: 0 0 5px 0;
  width: 75%;
  border-bottom: solid 0.2px #d8d8d8;
  border-right: solid 0.5px #d8d8d8;
  background-color: white;
  overflow: scroll;
  height: 348px;
}

.rightFinderdocs .blogDoc {
  display: inline-block;
  margin-left: 50px;
  margin-top: 10px;
  text-align: center;
  color: black;
  font-size: 0.8rem;
}

.rightFinderdocs .blogDoc img {
  width: 3.2rem;
  -webkit-filter: drop-shadow(3px 3px 3px #e8e8e8);
          filter: drop-shadow(3px 3px 3px #e8e8e8);
  margin-bottom: 20px;
}

a {
  color: #727272;
}

.leftFinder {
  border-radius: 0 0 0 5px;
  width: 25%;
  background-color: #f2f2f2;
  border-left: solid 0.5px #b0b0b0;
  border-bottom: solid 0.2px #b0b0b0;
  opacity: 0.95;
  font-size: 0.7rem;
  color: #727272;
}

.leftFinder .leftGroup {
  margin-top: -8px;
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.leftFinder .leftGroup strong {
  padding-left: 10px;
}

.leftFinder .leftGroup .favoriteGroup {
  height: 30%;
}

.leftFinder .leftGroup .favoriteGroup img {
  width: 15px;
  height: auto;
  margin-right: 10px;
}

.leftFinder .leftGroup .favoriteGroup .homeFavorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  padding: 5px 0 5px 20px;
  margin-top: 3px;
}

.leftFinder .leftGroup .favoriteGroup .docFavorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  padding: 5px 0 5px 20px;
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  min-height: 100%;
  width: 4.5rem;
}

.control .colorButtons {
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.control .colorButtons:hover div img {
  visibility: visible;
}

.control .colorButtons div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0.5px solid #d8d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

.control .colorButtons div img {
  width: 0.3rem;
  height: auto;
  opacity: 0.7;
  visibility: hidden;
}

.control .colorButtons .redButton {
  background-color: #f05050;
}

.control .colorButtons .yellowButton {
  background-color: #efe043;
}

.control .colorButtons .yellowButton img {
  width: 0.4rem;
}

.control .colorButtons .greenButton {
  background-color: #4fe454;
}

.control .backForward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.control .backForward div {
  border: 0.5px solid #d8d8d8;
  padding: 4px 8px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.control .backForward div img {
  width: 8px;
  height: auto;
}

.documents {
  position: relative;
}

.documents .finderOpen {
  position: absolute;
  width: 45rem;
  margin: auto;
  height: 25rem;
  border-radius: 5px;
  left: 50%;
  margin-left: -22.5rem;
  top: 50%;
  margin-top: 8rem;
}

.documents .finderOpen .topFinder {
  text-align: center;
  position: relative;
  height: 13%;
  background-color: #E2E2E2;
  border-radius: 5px 5px 0 0;
  border: solid 0.2px #b0b0b0;
}

.documents .finderOpen .topFinder .icon {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.documents .finderOpen .topFinder .icon img {
  width: 25px;
  height: auto;
  margin-right: 5px;
}

.documents .finderOpen .topFinder .icon div {
  margin-left: 5px;
  font-size: 14px;
  color: #727272;
}

.documents .finderOpen .bottomFinder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 87%;
}

.documents .homeFolder {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  right: 2rem;
  top: 3rem;
}

.documents .homeFolder img {
  width: 4rem;
  height: auto;
}

.documents .homeFolder div {
  font-size: 0.8rem;
  margin-top: 10px;
}

.blog .content {
  min-height: 92vh;
  background-color: white;
}

.Buttons {
  min-height: 5vh;
  background-color: #e1e1e1;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Buttons .colorButtons {
  margin-left: 0.5rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Buttons .colorButtons:hover div img {
  visibility: visible;
}

.Buttons .colorButtons div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0.5px solid #b0b0b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

.Buttons .colorButtons div img {
  width: 0.3rem;
  height: auto;
  opacity: 0.7;
  visibility: hidden;
}

.Buttons .colorButtons .redButton {
  background-color: #f05050;
}

.Buttons .colorButtons .yellowButton {
  background-color: #efe043;
}

.Buttons .colorButtons .yellowButton img {
  width: 0.4rem;
}

.Buttons .colorButtons .greenButton {
  background-color: #4fe454;
}
/*# sourceMappingURL=style.css.map */