.Buttons{
    position:relative;
    min-height:5vh;
    background-color:rgb(225, 225, 225);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    align-items: center;
    .title{
        margin:auto;
        font-size: 0.8rem;
    }
    .colorButtons{
        top:50%;
        margin-top:-7.5px;
        position:absolute;
        margin-left:0.5rem;
        width:4rem;
        display:flex;
        justify-content: space-evenly;
        &:hover div img{
            visibility:visible;
        }
        div{
            width:15px;
            height:15px;
            border-radius: 50%;
            display:flex;
            justify-content: center;
            align-items: center;
        cursor:default;
            img{
                width:0.3rem;
                height:auto;
                opacity: 0.7;
                visibility:hidden;
            }
        }
        .redButton{
            background-color:#f05050;
        }
        .yellowButton{
            background-color:#efe043;
            img{
                width:0.4rem;
            }
        }
        .greenButton{
            background-color:#4fe454;
        }
    }
}