*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Helvetica,Arial, sans-serif ;
    background: url('../images/DeepForest_1.png') no-repeat center center fixed;
    background-size: cover;
}

@import '../../src/Nav/Nav';
@import '../../src/Home/Home';
@import '../../src/Homefolder/Homefolder';
@import '../../src/Rightfinderhome/Rightfinderhome';
@import '../../src/Rightfinderdocs/Rightfinderdocs';
@import '../../src/Leftfinder/Leftfinder';
@import '../../src/Control/Control';
@import '../../src/Documents/Documents';
@import '../../src/Blog/Blog';
@import '../../src/Buttons/Buttons';
@import '../../src/Pictures/Pictures';
@import '../../src/About/About';
@import '../../src/Login/Login';

